.footer {
  background: #111;
  color: #fff;
  padding: 40px 20px;
  margin-top: 5%;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1 1 200px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 15px;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.7;
}

.footer-bottom {
  border-top: 1px solid #444;
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
}

/* =============== Responsive =============== */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-icons a {
    margin: 0 10px;
  }
}
