/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 5%;
}
.logo-default{
  width: 200px;
  margin-left: 20px;
}
/* Logo */

.logo a {
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

/* Search box */
.search-box input {
  padding: 10px 12px;
  width: 250px;
  border: 1px solid #ccc;
  margin-left: 410%;
  border-radius: 25px;
  font-size: 16px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: 53%;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.cart {
  margin-left: 30px;
  position: relative;
  margin-right: 3%;
  font-size: 25px;
}

.cart .count {
  background: rgb(186, 92, 180);
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Hamburger (hidden on desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  margin: 4px 0;
  transition: 0.4s;
}

/* =================== Mobile Responsive =================== */
@media (max-width: 768px) {

  .search-box {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background: white;
    width: 200px;
    padding: 20px;
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
